body{
  background-color: black;
}
.App{
  background-color: #9385b3;
  min-height:500px;
  width: 400px;
  margin: 40px auto;
}

#to-do-form input{
  background-color: gray;
  border: 0; 
  color: #fff;
  width: 200px;
  height: 40px;
  margin: 20px;
  padding: 0 20px;
  font-size: 18px;
  border-radius: 10px;
  
}

#to-do-form button{
  height: 40px;
  width: 80px;
  border-radius: 5px;
  border: 0;
  background-color: aqua; 
}
#to-do-form button:focus{
  outline: none;
}